/* Aula 1 */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






/* SEÇÃO VÍDEOS */

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
    padding: 153px 20px 10px 20px;
}

.videos__item {
    flex-grow: 1;
    width: 300px;
}

.videos__item img {
    width: 100%;
    height: 303px;
    object-fit: cover;
    display: block;
}

.videos__item iframe {
    width: 100%;
    height: 303px;
    display: block;
}

.videos__item a {
    display: block;
}

/* grid vídeos */

.descricao-video {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.descricao-video img {
    grid-area: 1 / 1 / 3 / 2;
}

.descricao-video h3 {
    font-weight: 700;
    color: #111;
    margin: 0;
}

.descricao-video .acoes-video {
    display: flex;
    justify-content: space-around;
}

.descricao-video .acoes-video {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.descricao-video .acoes-video a {
    text-decoration: underline;
    display: inline-block;
}

border-radius: 100%;
}

@media(min-width: 834px) {

    .videos__container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width: 1440px) {
    .videos__item {
        width: 288px;
    }
}